.logo {
    line-height: 32px;
    color: white;
    background: rgba(75, 70, 70, 0.1);
    font-size: 18px;
    text-align: center;
    margin: 10px;
    border-radius: 3px;
    white-space: nowrap;
    overflow: hidden;
}